--no-private --protected --private --query "(!object.docstring.blank?&&!(YARD::CodeObjects::NamespaceObject===object.namespace&&(a=object.namespace.aliases[object])&&object.name==:eql?&&a==:==)&&!(object.visibility!=:public&&((@return.text==''&&@return.types==%w'Boolean')||object.docstring.start_with?('Returns the value of attribute ', 'Sets the attribute ')||(@raise&&@raise.types=[]))))||object.root?" --markup markdown --no-stats -e value/yard-1.0
